*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
html {
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0 !important;
}

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #071304;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(7,19,4);
}
/* Animation CSS */
@keyframes bottomReveal {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.reveal-fixed{
    transition: 2s all ease;
    animation: bottomReveal 2000ms forwards;
}
.reveal-fixed-delay{
    transition: 2s all ease;
    animation: bottomReveal 1200ms forwards;
}
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.showreveal{
    transform: translateY(0);
    opacity: 1;
}
/* == || SCROLL BAR == */
.container{
    margin: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-container, .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.nav-container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-container .logo img{
    width: 240px;
}
.nav-links a{
    padding: 10px;
    color: #0d3814;
}
.nav-links a:hover{
    color: #97b051;
}