* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0 !important;
}

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #071304;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(7, 19, 4);
}

/* Animation CSS */
@keyframes bottomReveal {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.reveal-fixed {
    transition: 2s all ease;
    animation: bottomReveal 2000ms forwards;
}

.reveal-fixed-delay {
    transition: 2s all ease;
    animation: bottomReveal 1200ms forwards;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.showreveal {
    transform: translateY(0);
    opacity: 1;
}

/* == || SCROLL BAR == */
.container {
    margin: auto;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}
nav{
    position: relative;
}
.nav-container,
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav-container {
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
}

.nav-container .logo img {
    width: 260px;
}

.nav-links a {
    padding: 10px;
    color: #0d3814;
    margin: 0px 15px;
    font-size: 18px;
    letter-spacing: 1.2px !important;
    font-weight: 300;
}

.nav-links a:hover {
    color: #97b051;
}
.menu-bar{
    padding: 5px;
}
.menu-btn{
    font-size: 28px;
    color: #000000;
    padding: 10px 20px;
}

.banner {
    background-image: linear-gradient(140deg, #000300 70%, #36710b);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: 100%;
    position: relative;
}
.drop-arrow-scroll{
    position: absolute;
    bottom: -20px;
    margin: auto;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #8bc540;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.banner-container {
    padding-top: 120px;
    text-align: center;
}

.banner-container h1 {
    font-size: 3.3rem;
    font-weight: 800;
    color: #8bc540;
    text-align: center;
}

.banner-container p {
    font-size: 1.73rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    line-height: 44px;
    margin: 20px auto;
    width: 100%;
}

.banner-container img {
    margin: auto;
    width: 100%;
    max-width: 500px;
    vertical-align: middle;
}

.our-story {
    padding-top: 0px;
    padding-bottom: 60px;
}

.our-stry-containertwo {
    text-align: center;
}
.our-stry-container {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    background-image: url('img/Network.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.our-stry-container h1 {
    font-size: 60px;
    font-weight: 800;
    color: #004316;
    text-align: center;
}

.our-stry-container p {
    font-size: 1.73rem;
    font-weight: 400;
    color: #000000;
    text-align: center;
    line-height: 44px;
    margin: 20px auto;
    width: 100%;
}

.our-stry-containertwo img {
    width: 100%;
}

.cards {
    padding: 80px 0px;
    background-color: #e6e6e6;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards-container .card {
    height: 458px;
    width: 290px;
    margin: 10px 4px;
    background-color: #ffffff;
    box-shadow: 10px 2px 16px #00000033;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    overflow: hidden;
}
.cards-container .card .card-info {
    padding: 20px 20px;
}

.cards-container .card .card-info h3 {
    font-size: 18px;
    color: #004316;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #0d3814;
    text-align: center;
    line-height: 26px;
    letter-spacing: 1.2px !important;
}

.cards-container .card .card-info p {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin: 30px 0px 10px !important;
    text-align: center;
    line-height: 28px;
    font-weight: 300;
}

.breath {
    padding: 40px;
    background-color: #ffffff;
}

.breath-container h1 {
    font-size: 60px;
    font-weight: 200;
    color: #071304;
    text-align: center;
    margin: 10px 0px 30px;
}

.breath-cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.breath-card {
    width: 100%;
    max-width: 320px;
    min-width: 300px;
    text-align: center;
    margin: 18px 10px;
}

.breath-card .icon {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #8bc540;
    margin: 0px auto 20px;
}

.breath-card-info h2 {
    color: #8bc540;
    font-weight: 800;
    font-size: 22px;
    margin: 10px 0px;
}

.breath-card-info p {
    color: #000000;
    line-height: 24px;
    font-weight: 300;
}

.musketeers {
    background-image: linear-gradient(30deg, #36710b 40%, #000300);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: 100%;
    padding: 40px 0px;
}

.musketeers-container {
    text-align: center;
}

.musketeers-container h1 {
    font-weight: 800;
    color: #8bc540;
    text-align: center;
}

.musketeers-container h1.thinned {
    font-weight: 300 !important;
}

.musketeers-container p {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin: 20px auto;
    width: 90%;
}

.musketeers-container img.circles {
    margin: 20px auto !important;
    width: 70%;
}

.musketeers-cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.musketeers-card {
    width: 280px;
    margin: 20px 20px;
    text-align: center;
}

.musketeers-card .image {
    height: 160px;
    width: 160px;
    border-radius: 80px;
    background-color: #ffffff;
    margin: 0px auto 20px;
}

.musketeer-card-info h3 {
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;
    margin: 10px;
}

.musketeer-card-info span {
    color: #ffffff;
}

.musketeer-card-info p {
    font-weight: 300;
    font-size: 16px;
    line-height: normal !important;
}

.partners {
    padding: 40px 0px;
}

.partners-container {
    text-align: center;
}

.partners-container h1 {
    font-weight: 800;
    color: #004316;
    text-align: center;
}

.partners-container p {
    font-weight: 400;
    color: #000000;
    text-align: center;
    line-height: 44px;
    margin: 20px auto;
    width: 100%;
}
.partners{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partner{
    width: 160px;
    margin: 15px 20px;
}
.partner img{
    width: 100%;
}

footer{
    background-color: #004316;
}
.top-foot{
    padding: 30px 0px;
    border-bottom: 2px solid #ffffff;
    flex-wrap: wrap;
    min-width: 300px;
}
.top-foot, .social-icons.ft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-media.ft{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.social-media.ft span{
    color: #ffffff;
}
.social-icons.ft{
    padding-left: 20px;
}
.social-icons.ft a{
    padding: 2px;
    margin: 0px 3px;
}
.social-icons.ft a img{
    width: 34px;
}
.top-foot-fm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    margin: 10px 0px;
}
.top-foot-fm .icon img{
    width: 34px;
}
.top-foot-fm input{
    height: 40px;
    width: 100%;
    max-width: 280px;
    max-width: 220px;
    margin: 0px 10px;
    padding: 6px 10px;
    font-size: 16px;
}
.top-foot-fm input::placeholder{
    color: #8bc540;
}
.top-foot-fm button{
    height: 40px;
    padding: 4px 10px;
    font-size: 16px;
    background-color: #8bc540;
    color: #ffffff;
}
.middle-foot{
    text-align: center;
}
.middle-foot h1{
    font-weight: 800;
    color: #8bc540;
    font-size: 3.3rem;
    margin: 40px 0px;
    text-align: center;
}
.middle-foot p{
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    max-width: 800px;
    margin: 10px auto 20px;
    text-align: center;
}
.bottom-foot{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0px;
}
.bottom-foot .column.one,
.bottom-foot .column.two{
    width: 280px;
    margin: 10px 0px;
}
.bottom-foot .column h3{
    color: #8bc540;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
}
.bottom-foot .column ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
}
.bottom-foot .column ul li .icon{
    padding: 0px 10px 0px 0px;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.bottom-foot .column ul li .icon img{
    width: 32px;
}
.bottom-foot .column ul li .text{
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    padding-left: 10px;  
}
.bottom-foot .column.three{
    width: 560px;
    text-align: center;
    margin: 10px 0px;
}
.column.three .fm-ctrl{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    flex-wrap: wrap
}
.column.three form{
    width: 100%;
}
.column.three .fm-ctrl input{
    height: 40px;
    width: 100%;
    min-width: 265px;
    outline: none;
    border: 0px;
    background-color: #ffffff;
    color: #0d3814;
    padding: 4px 10px;
    margin: 5px;
    font-size: 16px;
}
.column.three .fm-ctrl input::placeholder,
.column.three textarea::placeholder{
    color: #8bc540;
}
.column.three textarea{
    height: 100px;
    width: 100%;
    max-width: 550px;
    min-width: inherit;
    outline: none;
    border: 0px;
    font-size: 16px;
    background-color: #ffffff;
    color: #0d3814;
    padding: 10px 10px;
    margin: 5px;
}
.column.three button{
    height: 50px;
    width: 200px;
    margin: 12px auto 10px !important;
    background-color: #8bc540;
    color: #ffffff;
}
.footer-copyright{
    padding: 30px 15px 50px;
    border-top: 2px solid #ffffff;
}
.footer-copyright, .ft-logo, .ft-links {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    flex-wrap: wrap;
    margin: 10px 0px;
}
.ft-logo img{
    width: 240px;
}
.ft-links{
    margin: 0px 0px 0px 40px;
}
.ft-links a{
    padding: 6px 10px;
    color: #ffffff;
}
.copy-text{
    color: #ffffff;
    text-align: center;
    width: fit-content;
    line-height: 20px;
}

/* == RESPONSIVE == */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 994px){
    .logo img{
        width: 180px !important;
    }
}
@media only screen and (max-width: 994px) {
    
    ::-webkit-scrollbar {
        width: 4px !important;
    }
    .links{
        height: 100vh;
        width: 320px;
        position: fixed;
        top: 0;
        right: -100%;

        display: block;
        padding: 80px 0px 0px;
        text-align: centers;
        transition: all ease 0.5s;

        z-index: 5;
        background-color: #ffffff;
        overflow: auto;
    }
    .links a{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100% !important;
        height: 50px;
        color: #0e3155 ;
        padding: 0px 50px 0px;
    }
    .links a:hover{
        background-color: #f1f1f1;
    }
    .links span{
        cursor: pointer;
    }
    .links.active{
        right: 0%;
    }
    .menu-bar{
        display: block;
    }
    .cancel-btn{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        box-shadow: 2px 2px 12px #0e315533;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0e3155;
        font-size: 18px;
        position: absolute;
        top: 12px;
        right: 20px;
    }
    .musketeers-container h1 {
        font-size: 2.8em;
    }
    .partners-container h1 {
        font-size: 3em;
    }
    
    .partners-container p {
        font-size: 1.33rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .links{
        padding: 0px 20px;
        display: block;
        display: flex;
        align-items: center !important;
        justify-content: space-between;
    }
    .menu-bar{
        display: none !important;
    }
    .cancel{
        display: none;
    }
    .musketeers-container h1 {
        font-size: 4em;
    }
    .partners-container h1 {
        font-size: 4em;
    }
    
    .partners-container p {
        font-size: 1.73rem;
    }
}
/* == || RESPONSIVE == */